        /* grand ecran */
body {
    font-family: Raleway, sans-serif;
    margin: auto;
}
body nav {
    margin-left: 3em;
}
        /* MENU ANCRE */
#menu {
    display: flex;
    justify-content: space-between;
}
#menu img {
    height: 3em;
    margin: 2em 0 1em 0;
}
#menu ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#menu li {
    margin-top: 2em;
}
.menu_style a {
    text-decoration: none;
    color: black;
    padding: 2.8em 1.5em 0 1.5em;
}
.menu_style a:hover{
    color: #0065fc;
    border-top: 0.2em #0065fc solid;
}
#sinscrire {
    margin: 3em;
    margin-left: 2em;
    font-weight: 600;
    color: #0065fc;
    text-decoration: none;
}
#sinscrire:hover {
    color: darkblue;
    text-decoration: underline;
}
h1 {
    font-size: 1.4em;
    margin-bottom: -0.3em;
}
        /* champs de recherche */
form{
    display: flex;
    margin-top: 1.3em;
}
.localisation{
    border: 0.1em #f2f2f2 solid;
    background-color: #f2f2f2;
    padding: 1em;
    margin-right: -0.15em;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
}
.champs {
    padding: 0.7em 1em 0.7em 1em;
    border: 0.1em #f2f2f2 solid;
    font-size: 1.1em;
}
.champs::placeholder{
    font-weight: 600;
    color: black;
    font-family: Raleway, sans-serif;
}
.bouton {
    background-color: #0065fc;
    color: white;
    border: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: -1em;
    padding: 0.5em 1em 0.5em 1em;
}
.fa-search {
    display: none;
}
        /* les filtres */
#filtres {
    font-size: 1.1em;
    font-weight: 700;
    display: flex;
    margin-top: 2em;
}
#filtres a {
    color: black;
    border: 0.13em lightgrey solid;
    border-radius: 2em;
    margin-top: -0.7em;
    margin-left: -3em;
    padding: 0.6em 1em 0.6em 3em;
}
#filtres a:hover {
    color: #0065fc;
    background-color: #deebff;
    border-color: #deebff;
}
#filtres ul {
    display: flex;
}
#filtres li {
    display: flex;
    margin-right: 1.4em;
}
.circle {
    border: 0.2em #deebff solid;
    background-color: #deebff;
    z-index: 0;
    border-radius: 2em;
    font-size: 1.2em;
    margin-top: -0.6em;
    margin-right: 0.6em;
    padding: 0.5em;
}
.fa-child {
    padding: 0.48em 0.6em;
}
        /* ligne d'information */
#information {
    display: flex;
    margin-bottom: 2em;
}
.fa-info {
    margin-right: 1em;
    margin-top: 0.9em;
    color: #0065fc;
    font-size: small;
    border: 0.1em lightgrey solid;
    border-radius: 1em;
    padding: 0.4em 0.7em 0.4em 0.7em;
}
        /* partie Hébergement */
main {
    display: flex;
    flex-direction: column;
}
.main_block {
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}
.block_hebergements {
    background-color: #f2f2f2;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 67%;
}
.block_hebergements {
    justify-self:flex-start;
    margin: 0;
}
.block_hebergements section {
    border: 0.1em white solid;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 1.2em;
    box-shadow: 0.3em 0.3em 1em lightgrey;
    height: 90%;
    width: 28%;
    margin-left: 2em;
}
.block_hebergements img {
    height: 60%;
    width: 97.5%;
    margin: 0.2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
#hebergements {
    margin-top: 2em;
    margin-left: 2em;
    font-weight: 700;
    font-size: 1.3em;
}
.titre h3 {
    font-size: 1em;
    color: black;
}
.titre p {
    font-size: 0.8em;
    margin-top: -1em;
    margin-bottom: 1.5em;
    color: black;
}
a {
    text-decoration: none;
}
.titre {
    text-decoration: none;
    margin-left: 1em;
    margin-top: -0.8em;
}
.first_row {
    display: flex;
}
.second_row {
    display: flex;
    margin-top: 1em;
}
#afficher {
    font-size: 1.1em;
    font-weight: 700;
    margin-left: 2em;
    margin-bottom: 2em;
}
        /* partie les plus populaires */
aside {
    background-color: #f2f2f2;
    width: 30%;
    border-radius: 1.5em;
}
.populaires {
    height: 23%;
    width: auto;
    margin: 2em;
    border-radius: 1.4em;
    border: 0.1em white solid;
    background-color: white;
    box-shadow: 0.3em 0.3em 1em lightgrey;
}
.populaires img {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    height: 100%;
    width: 39%;
    margin: 0.2em;
}
.populaires a {
    display: flex;
    width: 100%;
    height: 96%;
}
.legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2em 0 1.2em;
    font-size: 0.85em;
    color: black;
}
.legend p {
    margin-top: 0;
}
.legend .fa-star {
    margin-top: 2.8em;
}
aside h2 {
    display: flex;
    justify-content: space-between;
    margin: 2.5em 2.2em -0.5em 2em;
    font-size: 1.3em;
    font-weight: 700;
}
        /* PARTIE ACTIVITES */
.block_activites {
    margin-top: 2.5em;
    margin-left: 2.2em;
}
#vieux_port_mini {
    display: none;
}
#calanques_mini {
    display: none;
}
#last_block {
    display: flex;
    flex-wrap: wrap;
}
figure img {
    border-top-left-radius: 1.2em;
    border-top-right-radius: 1.2em;
    width: 100%;
}
figure {
    color: black;
    font-weight: 700;
    border: transparent;
    border-radius: 1.2em;
    box-shadow: 0.3em 0.3em 1em lightgrey;
    margin: auto;
    margin-right: 2.9em;
}
.row_activites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.big_picture {
    height: 100%;
    width: 19em;
}
.big_picture img {
    height: 87%;
}
.calanques {
    height: 100%;
    width: 19em;
}
.calanques img {
    height: 87%;
}
.pomegues {
    height: 14.5em;
    width: 19em;
}
.pomegues img {
    height: 11em;
}
.frioul {
    height: 10.5em;
    width: 19em;
}
.frioul img {
    height: 6.5em;
}
.notre_dame {
    height: 12em;
    width: 19em;
}
.longchamp {
    height: 13em;
    width: 19em;
}
        /* FOOTER */
footer{
    margin-top: 3em;
    background-color: #f2f2f2;
}
.foot {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: 1em;
}
footer ul {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}
footer li {
    margin-bottom: 1em;
    font-size: 1em;
}
        /* element */
figcaption {
    margin: 1em;
}
.fa-star {
    font-size: 0.84em;
    margin-right: -0.2em;
}
.color-logo {
    color: #0065fc;
}
.grey {
    color: lightgrey;
}
ul {
    list-style-type: none;
}
@media all and (min-width: 688px) and (max-width: 1432px) {

            /* header @ tablette */
    #menu ul {
        flex-wrap: wrap;
    }
            /* champs de recherche @ tablette */
    .bouton {
        display: none;
    }
    .fa-search {
        display: initial;
        border-radius: 0.8em;
        font-size: 1.1em;
        font-weight: 500;
        padding: 1em;
    }
            /* Filtre @ tablette */
    #filtres ul {
        flex-wrap: wrap;
    }
    #filtres li {
        margin-bottom: 2em;
    }
    #information {
        margin-top: -2em;
    }
            /* corps @ tablette */
    .main_block {
        flex-direction: column-reverse;
        margin: 0;
    }
            /* Populaires @ tablette */
    aside {
        width: 100%;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .legend {
        font-size: 0.9em;
    }
    .populaires {
        height: 10em;
        width: 50%;
    }
    .populaires img {
        height: 9.6em;
        width: 10em;
    }
            /* Hebergements @ tablette */
    .block_hebergements {
        background-color: white;
        width: 100%;
    }
            /* Activites @ tablette */
    #last_block {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .row_activites {
        display: contents;
    }
    .big_picture, .calanques, .pomegues, .frioul, .notre_dame, .longchamp {
        height: 13em;
        width: 18em;
        margin-right: 2em;
        margin-bottom: 1em;
    }
    .big_picture img, .calanques img, .notre_dame img, .longchamp img, .pomegues img, .frioul img {
        height: 78%;
    }
    #vieux_port {
        display: none;
    }
    #vieux_port_mini {
        display: initial;
    }
    #calanques {
        display: none;
    }
    #calanques_mini {
        display: initial;
    }
}
@media all and (min-width: 1441px) {
    .block_activites {
        margin: auto;
    }
}
@media screen and (max-width: 687px) {
    body {
        margin: 0;
    }
    #menu {
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
    }
    #menu img {
        order: -1;
        margin: 1em;
        margin-bottom: 0;
    }
    #menu ul {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    #menu li {
        width: 50%;
        border-bottom: 0.2em #f2f2f2 solid;
        padding-bottom: 1em;
    }
    .menu_style a {
        font-size: 1em;
    }
    .menu_style a:hover {
        border-top: none;
    }
    #menu li:hover {
        border-bottom: 0.2em #0065fc solid;
    }
    #menu #sinscrire {
        font-size: 1.1em;
        order: -1;
        justify-content: flex-end;
        margin: 2em 1em 0 0;
    }
        /* Title @ smartphone */
    body nav {
        margin-left: 0;
    }
    h1 {
        font-size: 1.2em;
        margin-left: 1.2em;
        margin-right: 3em;
        margin-top: 1.5em;
    }
    nav p {
        margin-left: 1.5em;
        font-size: 0.91em;
        margin-bottom: 1em;
    }
        /* champs de recherce @ smartphone */
    form {
        margin-left: 1.3em;
    }
    .localisation {
        padding: 1em;
        font-size: 1em;
        border-top-left-radius: 0.8em;
        border-bottom-left-radius: 0.8em;
    }
    .champs {
        width: 60%;
    }
    .bouton {
        display: none;
    }
    .fa-search {
        display: initial;
        border-radius: 0.8em;
        font-size: 1.1em;
        font-weight: 500;
        padding: 1em;
    }
        /* list filtre @ smartphone */
    #filtres {
        flex-direction: column;
        width: 100%;
    }
    .circle {
        font-size: 1.2em;
    }
    #filtres p {
        font-size: 1em;
        margin: -0.5em 0 0 1.5em;
    }
    #filtres ul {
        flex-wrap: wrap;
        padding: 0;
        margin-top: 0;
        margin-left: 1em;
    }
    #filtres li {
        margin-right: 0.5em;
        font-size: 0.95em;
        margin-top: 1.5em;
    }
    #information p {
        font-size: 1em;
        margin-left: 0;
    }
    .fa-info {
        margin-left: 1.5em;
    }
        /* les plus populaires @ smartphone */
    aside {
        width: 100%;
        border-radius: 0;
    }
    .populaires a {
        max-width: 540px;
    }
    .populaires {
        max-width: 560px;
        height: 9em;
        width: 89%;
        margin-left: 1.5em;
        border-radius: 1.4em
    }
    .legend {
        margin: 0 2em 0 1.2em;
    }
    aside img {
        max-width: 160px;
        height: 100%;
        width: 8em;
        margin: 0.22em;
    }
    aside h2 {
        margin: 1.8em 2em 1.3em 1.3em;
        font-size: 1.3em;
        font-weight: 800;
    }
        /* hébergements à MARSEILLE @ smartphone */
    .main_block {
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }
    .first_row, .second_row {
        flex-direction: column;
    }
    .block_hebergements {
        background-color: white;
        width: 83%;
        margin-left: 1em;
    }
    #hebergements {
        margin: 2em 0 0.5em 0;
        font-size: 1.4em;
    }
    .block_hebergements section {
        max-width: 480px;
        height: 13em;
        width: 110%;
        margin: 0.5em 0;
    }
    .block_hebergements img {
        width: 98%;
    }
    #afficher {
        font-weight: 600;
        margin-left: 0em;
    }
        /* Activités @ smartphone */
    #last_block {
        flex-direction: column;
        width: 100%;
    }
    .block_activites {
        margin-top: 0;
    }
    .block_activites h2 {
        margin-left: -0.8em;
        font-size: 1.35em;
    }
    .big_picture, .calanques, .pomegues, .frioul, .notre_dame, .longchamp {
        height: 13em;
        width: 100%;
        max-width: 480px;
        margin-top: 1em;
        margin-bottom: 0.5em;
        margin-left: -1em;
    }
    .big_picture img, .calanques img, .notre_dame img, .longchamp img, .pomegues img, .frioul img {
        max-width: 480px;
        height: 75%;
    }
            /* photo change */
    #vieux_port {
        display: none;
    }
    #vieux_port_mini {
        display: initial;
    }
    #calanques {
        display: none;
    }
    #calanques_mini {
        display: initial;
    }
        /* footer */
    footer {
        width: 100%;
    }
    .foot {
        flex-direction: column;
    }
    footer li {
        flex-wrap: nowrap;
        font-size: 1.1em;
    }
@media screen and (max-width: 320px) {
    #sinscrire a {
        left: -9em;
    }
    .left {
        padding-right: 3em;
    }
    h1 {
        font-size: 1.1em;
    }
    .legend .fa-star {

    }
    .legend h3 {
        margin-bottom: 0.5em;
    }
    .legend {
        margin-right: 0;
    }
}
}