@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: screen;
    font-family: Raleway, sans-serif;
    margin: 3em;
}
#button {
    border: 1px #f2f2f2 solid;
}

header nav {
    display: flex;
    justify-content: space-between;
}
header img {
    align-self: flex-start;
    width: 6em;
    height: 3em;
}
nav ul {
    display: flex;
}
aside {
    border: 1px #f2f2f2 solid;
    background-color: #f2f2f2;
    border-radius: 1em;
}
aside img {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 100px;
    height: 80px;
}
footer {

    display: flex;
    background-color: #f2f2f2;
    text-align: justify;
    }
ul {
    list-style-type: none;
}
section {
    display: flex;
    justify-content: space-between;
}
aside figure {
    display: flex;
    border: 1px white solid;
    border-radius: 1em;
    background-color: white;
} 
#bloc {
    display: flex;
}
#bloc_heb {
    display: flex;
    flex-wrap: wrap;
    border: 1px #f2f2f2 solid;
    border-radius: 1em;
    background-color: #f2f2f2;
}
#bloc_heb figure {
    border: 1px white solid;
    background-color: white;
    border-radius: 1em;

}
#bloc_act {
    display: flex;
    flex-wrap: wrap;
}
#bloc_heb img {
    width: 300px;
    height: 150px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
#bloc_act figure {
    border: 1px white;
    border-radius: 1em;
    box-shadow: 6px 6px 6px #f2f2f2;
}
#bloc_act img {
    width: 235px;
    height: 110px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
#filtre {
    display: flex;
}
#filtre li {
    margin-left: 2em;
    display: flex;
    justify-content: space-between;
    border: 1px black solid;

}